 /* character cards */  
.chacard {
  /* Add shadows to create the "card" effect */
  box-shadow: 5px 10px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border: 1px solid black;
  margin: 15px;
  display: inline-grid;
  flex: 1;
  width: px;
}

/********
@media screen and (min-width: 1300px) and (max-width: 1365px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 1366px) and (max-width: 1393px) {
	.chacard {
		width: 278px;
		
	}
}

@media screen and (min-width: 1394px) and (max-width: 1415px) {
	.chacard {
		width: 285px;
		
	}
}

@media screen and (min-width: 1415px) and (max-width: 1500px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 1500px) and (max-width: 1550px) {
	.chacard {
		width: 310px;
		
	}
}

@media screen and (min-width: 1550px) and (max-width: 1600px) {
	.chacard {
		width: 320px;
		
	}
}


@media screen and (min-width: 1600px) and (max-width: 1650px) {
	.chacard {
		width: 330px;
		
	}
}

@media screen and (min-width: 1650px) and (max-width: 1700px) {
	.chacard {
		width: 350px;
		
	}
}
**/





@media screen and (max-width: 764px) {
	.chacard {
		width: 80%;
	}
}

@media screen and (min-width: 765px) and (max-width: 800px) {
	.chacard {
		width: 290px;
	}
}

@media screen and (min-width: 801px) and (max-width: 839px) {
	.chacard {
		width: 308px;
	}
}


@media screen and (min-width: 840px) and (max-width: 880px) {
	.chacard {
		width: 327px;
		height: 477px;
	}
}


@media screen and (min-width: 881px) and (max-width: 939px) {
	.chacard {
		width: 348px;
		height: 498px;
	}
}


@media screen and (min-width: 940px) and (max-width: 974px) {
	.chacard {
		width: 240px;
		height: ;
	}
}

@media screen and (min-width: 975px) and (max-width: 1023px) {
	.chacard {
		width: 252px;
		height: 424px;
	}
}


@media screen and (min-width: 1024px) and (max-width: 1079px) {
	.chacard {
		width: 268px;
		height: 442px;
	}
}

@media screen and (min-width: 1080px) and (max-width: 1088px) {
	.chacard {
		width: 280px;
		height: 453.64px;
	}
}

@media screen and (min-width: 1089px) and (max-width: 1118px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 1119px) and (max-width: 1163px) {
	.chacard {
		width: 300px;
		
	}
}

@media screen and (min-width: 1164px) and (max-width: 1206px) {
	.chacard {
		width: 315px;
		
	}
}

@media screen and (min-width: 1207px) and (max-width: 1250px) {
	.chacard {
		width: 329px;
		height: 479px;
	}
}

@media screen and (min-width: 1251px) and (max-width: 1299px) {
	.chacard {
		width: 344px;
		height: 494px;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1350px) {
	.chacard {
		width: 261px;
		height: 434.34px;
		
	}
}

@media screen and (min-width: 1351px) and (max-width: 1413px) {
	.chacard {
		width: 274px;
		height: 447.65px;
		
	}
}

@media screen and (min-width: 1414px) and (max-width: 1475px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 1476px) and (max-width: 1520px) {
	.chacard {
		width: 305px;
		
	}
}

@media screen and (min-width: 1521px) and (max-width: 1570px) {
	.chacard {
		width: 316px;
		
	}
}

@media screen and (min-width: 1571px) and (max-width: 1630px) {
	.chacard {
		width: 329px;
	}
}

@media screen and (min-width: 1631px) and (max-width: 1700px) {
	.chacard {
		width: 344px;
		height: 494px;
		
	}
}

@media screen and (min-width: 1701px) and (max-width: 1738px) {
	.chacard {
		width: 361px;
		height: 511px;
	}
}

@media screen and (min-width: 1738px) and (max-width: 1780px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 1781px) and (max-width: 1850px) {
	.chacard {
		width: 298px;
		
	}
}

@media screen and (min-width: 1851px) and (max-width: 1925px) {
	.chacard {
		width: 312px;
		
	}
}

@media screen and (min-width: 1926px) and (max-width: 2000px) {
	.chacard {
		width: 327px;
		height: 476.63px;
	}
}

@media screen and (min-width: 2001px) and (max-width: 2067px) {
	.chacard {
		width: 342px;
		height: 492px;
	}
}

@media screen and (min-width: 2068px) and (max-width: 2124px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 2125px) and (max-width: 2232px) {
	.chacard {
		width: 300px;
		
	}
}

@media screen and (min-width: 2233px) and (max-width: 2300px) {
	.chacard {
		width: 318px;
		
	}
}

@media screen and (min-width: 2301px) and (max-width: 2365px) {
	.chacard {
		width: 329px;
		height: 479px;
	}
}

@media screen and (min-width: 2366px) and (max-width: 2386px) {
	.chacard {
		width: 340px;
		height: 490px;
		
	}
}

@media screen and (min-width: 2387px) and (max-width: 2440px) {
	.chacard {
		width: 290px;
		
	}
}

@media screen and (min-width: 2441px) and (max-width: 2500px) {
	.chacard {
		width: 297px;
		
	}
}

@media screen and (min-width: 2501px) and (max-width: 2560px) {
	.chacard {
		width: 306px;
		
	}
}

@media screen and (min-width: 2561px) and (max-width: 2712px) {
	.chacard {
		width: 314px;
		
	}
}

@media screen and (min-width: 2713px){
	.chacard {
		width: 290px;
		
	}
}


.chacards{
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
	
}

/* On mouse-over, add a deeper shadow */
.chacard:hover {
  box-shadow: 5px 15px 16px 0 rgba(0,0,0,0.7);
}

/* Add some padding inside the card container */
.chacontainer {
  padding: 2px 16px;
  text-align: center;
  display: inline-block;
}

.charnameheader{
	color: white;
	font-weight: bold;
	text-align: center;
}
	
.charheader{
	text-align: center;
	padding: 10px;
}