.bps h1{
	text-align: center;
}

.bpssidediv{
	width: 25%;
	float: right;
}

.bpsmaindiv{
	width: 73%;
	float: left;
}

.bpsmaindiv, .bpssidediv{ 
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	top: 50%;
	bottom: 50%;
	padding: 8px;
}

.bpscontainer {
  overflow: hidden;
}

.bpsfilterDiv {
  display: none; /* Hidden by default */
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.bpsshow {
  display: block;
}

/* Style the buttons */
.bpsbtn {
  border: 1px solid black;
  outline: none;
  padding: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Add a light grey background on mouse-over */
.bpsbtn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.bpsbtn.active {
  background-color: gray;
  color: white;
}


#goupBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#goupBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.bp{ 
	padding: 5px 25px;
}

.bpcontent{
	padding: 25px 0;
}

.mainpic{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 25px;
}

.bp1 img{
	width: 85%;
	float: right;
}

.bp1 .col-md-6{
	padding: 10px;
	padding-right: 15px;
}

.bp2 .listthing{
	padding: 10px;
	text-align: center;
}

.bp2 .middlething{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 45%;
}	
	
	
.bp3 img{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 25px;
}

.bp4 p {
	padding: 10px;
}


.bp5 .bpcontent img{
	width: 100%;
	paddding: 10px;
}

.bp5 .middlething{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 65%;
}	


.bp6 iframe{
	padding: 15px;
}
