body{
	background-color: #001827;
	color: white;
}

.image-banner-container {
  background-image: url("wordart.png"); /* The image used - important! */
  background-size: cover;
  position: static; /* Needed to position the cutout text in the middle of the image */
  height: 150px; /* Some height */
  width: 100%;
  left: 0px;
  margin: 0 auto;
  
}

#name-text {
	background-color: black;
	color: white;
	font-size: 5vw; /* Responsive font size */
	font-weight: bold;
	width: 50%;
	margin: 0 auto; /* Center the text container */
	padding: 10px;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	mix-blend-mode: screen; /* This makes the cutout text possible */
	font-family: arial;
}


#navbar{
	width: 100%;
	background-color: black;
	overflow: hidden;
	display: table;
	z-index: 1;
	left: 0;
	margin: 0;
}

#navbar a{
	padding: 5px;
	color: white;
	text-decoration: none;
	font-size: 1vw;
	text-align: center; /* If you want the text to be centered */
	width: auto;
	display: table-cell;
	border: 0.15px solid #001827;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#smallmm{
	font-size: 0.65vw;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}

.maincontentstuff{
	z-index: 2;
}

hr {
	border: 0.5px solid white;
	width: 97%
}


.blogpost img{
	width:100%
}

#blogpostheader{
}

.fclipweekdiv iframe{
    margin: auto;
    left: 50%;
}


.fclipweekdiv iframe:hover{
	box-shadow: 10px 10px 200px 20px black, 5px 5px 100px 5px gold;
}

.answerbutton{
	border: none;
	background-color: darkslategray;
	text-align: center;
	transition: all 0.5s;
	border-radius: 4px;
	color: white;
	outline: none;
	width: 150px;
	font-size: 16px;
	float: right;
	display: inline-block;
	position: relative;
	font-size: 14px;
	padding: 4px;
	margin: 36px;
	margin-bottom: 0;
	margin-top: 0;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}


.answerbutton:hover {
  background-color: steelblue;
}

.inc:checked ~ label {
	color: red;
}

.cor:checked ~ label{
	color: green;
}
