body{
	background-color: #001827;
	color: white;
	height: 100%;
	width: 100%
}

.image-banner-container {
  background-image: url("wordart.png"); /* The image used - important! */
  background-size: cover;
  position: static; /* Needed to position the cutout text in the middle of the image */
  height: 150px; /* Some height */
  width: 100%;
  left: 0px;
  margin: 0 auto;
  
}

#name-text {
	background-color: black;
	color: white;
	font-size: 5vw; /* Responsive font size */
	font-weight: bold;
	width: 50%;
	margin: 0 auto; /* Center the text container */
	padding: 10px;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	mix-blend-mode: screen; /* This makes the cutout text possible */
	font-family: arial;
}


#navbar{
	width: 100%;
	background-color: black;
	overflow: hidden;
	display: table;
	z-index: 1;
	left: 0;
	margin: 0;
}

#navbar a{
	padding: 5px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	text-align: center; /* If you want the text to be centered */
	width: auto;
	display: table-cell;
	border: 0.15px solid #001827;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#smallmm{
	font-size: 0.65vw;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}

.maincontentstuff{
	z-index: 2;
}

hr {
	border: 0.5px solid white;
	width: 97%
}


.blogpost img{
	width:100%;
}

#blogpostheader{
}

.fclipweekdiv iframe{
    margin: auto;
    left: 50%;
}


.fclipweekdiv iframe:hover{
	box-shadow: 10px 10px 200px 20px black, 5px 5px 100px 5px gold;
}

.answerbutton{
	border: none;
	background-color: darkslategray;
	text-align: center;
	transition: all 0.5s;
	border-radius: 4px;
	color: white;
	outline: none;
	width: 150px;
	font-size: 16px;
	float: right;
	display: inline-block;
	position: relative;
	font-size: 14px;
	padding: 4px;
	margin: 36px;
	margin-bottom: 0;
	margin-top: 0;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}


.answerbutton:hover {
  background-color: steelblue;
}

.inc:checked ~ label {
	color: red;
}

.cor:checked ~ label{
	color: green;
}




#tabbar{
	z-index: 1;
	overflow: hidden;
	position: sticky;
	top: 30px;
	background-color: #001827;
}

.tabbuttonrow {
	width: 100%;
	margin: auto;
	height: 35 px;
	border-bottom: 1.5px solid black;
}

/* Style tab links */
.tablink {
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  height: 25px;
  bottom: 0;
  margin-bottom: 1px;
  margin-top: 10px;
  margin-right: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 20px 20px;
  height: 100%;
}

.tabcontent h2{
	font-size: 3vw;
	text-align: center;
	padding: 10px;
}

.OfficeButtonTab{
	background-color: steelblue;
}

.ParksButtonTab{
	background-color: #7B9E70;
}

.B99ButtonTab{
	background-color: #C9BF89;
}

.defaultopen{
	visibility: visible;
}


#OfficeTab {background-color: rgba(38, 195, 242, 0.4);}
	#OfficeTab h2 {
		font-family: monospace;
	}
#ParksTab {background-color: rgba(89, 179, 62, 0.5);}
	#ParksTab h2{
		font-family: impact;
	}
#B99Tab {background-color: rgba(254, 223, 73, 0.5);}
	#B99Tab h2{
		font-family: verdana;
	}


.bioimages {
	width: 75%;
	display: block;
	margin-right: auto;
	padding: 5px;
	padding-bottom: 15px;
	float: none;
	margin-bottom: 0;
	
}

.bioimagesdiv{
	width: 40%;
	margin-left: auto;
	float: right;
	margin-bottom: auto;
	margin-top: auto;
	top: 50%;
	bottom: 50%;
}

.synpodiv{
	width: 55%;
	float: left;
}

.watchiton{
	border: 1px solid black;
	border-left: none;
	padding: 10px;
	width: 48%;
	float: left;
	margin-bottom: 15px;
	box-shadow: 7px 7px 30px black;
}

.watchiton a{
	color: white;
}

.watchiton:hover{
	box-shadow: 10px 10px 35px black;
}

.wordsyn{
	font-size: 1.75rem;
}

.programname{
	font-size: 125%
}

.blockrow{
	width: 100%;
}

.infotablediv{
	float: right;
	width: 50%;
}
	
table, tr{
  border: 1px solid black;
}

table{
	width: 100%;
}

th{
	padding-left: 10px;
}
.tworow td, th{
	width: 25%;
	border-left: 1px solid black;
}

.longrow td{
	padding: 3px;
	width: 100%;
}

.longrow th {
	width: 25%;
	padding: 3px;
}

.synsource{
	font-size:0.75rem;
	float: right;
	padding: 5px;
}

.synsource a {
	color: lightblue;
}

@media screen and (max-width: 600px) {
  .bioimagesdiv, .infotablediv, .synpodiv, .watchiton {
    width: 100%;
  }
}
  
.chacard {
  /* Add shadows to create the "card" effect */
  box-shadow: 5px 10px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border: 1px solid black;
  margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.chacard:hover {
  box-shadow: 5px 15px 16px 0 rgba(0,0,0,0.7);
}

/* Add some padding inside the card container */
.chacontainer {
  padding: 2px 16px;
  text-align: center;
}

.charnameheader{
	color: white;
	font-weight: bold;
	text-align: center;
}
	
.charheader{
	text-align: center;
	padding: 10px;
}
	
.sinfocartext{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	margin-left: 0;
	margin-right: auto;
	left: 0;
	padding: 1%;
	margin-top: auto;
	margin-bottom: auto;
}

.carousel-caption{
	width: 100%;
	margin-left: 0;
	margin-right: auto;
	left: 0;
}	

.carousel{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
	
@media screen and (max-width: 700px) {
  .carousel{
	width: 100%;
  }
}

#parkseal{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#b99badge{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.w2wimg{	
	width: 50px;
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
}

.pastcont iframe{
	padding: 10px;
	width: 95%;
}

.pastcont h2, h3, h4{
	padding: 10px;
}

.pastcontquiz{
	margin: 10px;
	padding: 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
